
<div class="home">
  <%= render "components/banner" %>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <%= link_to cocktail_path(cocktail) do %>
              <h3><%= cocktail.name %></h3>
            <% end %>
            <p><% cocktail.doses.each do |dose| %></p>
              <p><%= dose.ingredient.name %></p>
            <% end %>

            <div class="card-detail">
              <%= link_to cocktail_path(cocktail) do %>
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

 <%= render "components/footer" %>

</div>




