<div class="container">
  <div class="row">
    <div class="card-show">
      <h2><strong><%= @cocktail.name %></strong></h2>
        <h4>Ingredients List: <% @cocktail.doses.each do |dose| %></h4>
          <p><%= dose.ingredient.name %> : <%= dose.description %></p>
        <% end %>
    </div>

    <div class="text-center">
      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
      <br>
      <%= link_to "Back", cocktails_path(@cocktail) %>
    </div>
  </div>
</div>
