<div class="container">

  <div class="title">
    <h2>New Dose</h2>
    <h4>Please, enter your dose</h4>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient_id, collection: Ingredient.all %>
        <%= f.input :description %>
        <div class="text-center">
        <%= f.submit "Add a dose", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
      <div class="text-center">
        <%= link_to "Back", cocktails_path(@cocktail) %>
      </div>
    </div>
  </div>
</div>
